name: Build and Push Docker Image

on:
  workflow_call:
    inputs:
      image_name:
        description: 'Name of the Docker image'
        required: true
        type: string
      image_tag:
        description: 'Tag of the Docker image'
        required: false
        default: 'latest'
        type: string
      dockerfile_location:
        description: 'Path to the Dockerfile'
        required: true
        default: './Dockerfile'
        type: string
      docker_context:
        description: 'Build context path'
        required: true
        type: string
        default: '.'
      push_to_registry:
        description: 'Push image to registry'
        required: false
        default: 'true'
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        if: ${{ inputs.push_to_registry == 'true' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and optionally push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.docker_context }}
          file: ${{ inputs.dockerfile_location }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}:${{ inputs.image_tag }}
          push: ${{ inputs.push_to_registry == 'true' }}
